﻿@model FARequest.Models.CharityRequestModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Admin Edit Request</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div>
            
        </div>

        <div class="form-group">
            @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @if (this.User.IsInRole("Admin"))
                {
                    @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.TestStatusTypes, "Value", "Text", Model.StatusId))
                }
                else
                {
                    @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.TestStatusTypes, "Value", "Text", Model.StatusId), new { @disabled = "disabled" })
                }
            </div>
        </div>

  
        @Html.HiddenFor(model => model.StatusId)

        @Html.HiddenFor(model => model.RequestId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
