﻿@model FARequest.Models.CharityRequestModel

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    <h4>Delete Charity Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviouslySupported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviouslySupported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDesc)
        </dd>
        <dt>
            @ViewData["StatusDeleteError"]
        </dt>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
