﻿@model FARequest.Models.CharityRequestModel

@using (Html.BeginForm("CreateDocuments", "Charity", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Charity Request</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Charity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Charity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Charity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviouslySupported, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PreviouslySupported)
                    @Html.ValidationMessageFor(model => model.PreviouslySupported, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            <p>UPLOAD</p>
            <div class="col-md-10">
                <span>Select File:</span>
                <input type="file" name="postedFiles" multiple="multiple" />
                <hr />
                <input type="submit" value="Upload" class="btn btn-primary" />
                <br />
                <span style="color:green">@Html.Raw(ViewBag.Message)</span>
            </div>
        </div>*@

        <div>
            <table>
                <tr>
                    <td>
                         <div class="form-group">
                            <p>UPLOAD</p>
                            <div class="col-md-10">
                                <span>Select File:</span>
                                <input type="file" name="postedFiles" multiple="multiple" />
                                <hr />
                                <input type="submit" value="Upload" class="btn btn-primary" />
                                <br />
                                <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                            </div>
                        </div>
                    </td>
                    <td>

                        @if (@ViewData["FileSizeError"] != null)
                        {
                            <p>
                                <h6>@ViewData["FileSizeError"]</h6>
                            </p>
                            <p>Please select a few less files and try again</p>
                        }

                        @*<ul>
                            @if (ViewData["ApprovedFileList"] != null)
                            {
                                foreach (var file in ViewData["ApprovedFileList"] as List<HttpPostedFile>)
                                {
                                    <li>
                                        @file.FileName
                                    </li>
                                }
                            }
                           
                        </ul>*@
                    </td>
                </tr>
            </table>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.UploadStatus
            </div>
        </div>  

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Requests", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
