﻿@model IEnumerable<FARequest.Models.CharityRequestModel>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">


    <p>
        @if (!User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "CreateDocuments")
        }

    </p>

    <div class="table-responsive">
        <table id="dtTble" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RequestId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Charity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PreviouslySupported)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusDesc)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Charity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreviouslySupported)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StatusDesc)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Approve", "Edit", new { id = item.RequestId })
                            }
                            else
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.RequestId })
                            }
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Delete", "Delete", new { id = item.RequestId })
                            }
                            else
                            {
                                @Html.ActionLink("Delete", "Delete", new { id = item.RequestId })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


