﻿@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta charset="UTF-8">
    <title>Microgaming</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <main>
        <section>
            <h2>Want to help a charity?</h2>
            <article>
                <header>
                    <h4>Let us help you!!!</h4>
                </header>
                    <p>
                        Here at Microgaming we pride ourselves on giving back. Setting up this website now enables our staff to log a request
                        for a charity that they may feel needs some assistance.
                    </p>
                <header>
                    <h4>Heres How</h4>
                </header>
                    <p>
                        Simply login to the system, click on CharityRequest<br />
                        fill in the details of the charity and hit the submit button
                    </p>
            </article>

        </section>
    </main>

    <footer>
        <p>Thank you for giving back.</p>
    </footer>
</body>
</html>