﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li style="padding-right:20px">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { style = "color:aliceblue; background-color:transparent", title = "Manage" })
        </li>
        <li><a style="color:aliceblue; background-color:transparent"  href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
         @*   @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
            <a class="nav-link" href="@Url.Action("Register", "Account")">Register <span class="sr-only">(current)</span></a>
        </li>
        <li>
          @*  @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
            <a class="nav-link" href="@Url.Action("Login", "Account")">Login <span class="sr-only">(current)</span></a>
        </li>
    </ul>
}
